@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900;
  }
}

@layer components {
  /* Custom component styles */
}

@layer utilities {
  /* Custom utility styles */
}

